<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/AI_logo_2_com.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Vidit Shah Suit up close up.jpg" />
    </div>

    {{>footer}}
</body>

</html>